#super {
  border: solid green;
  margin-left: 160px;
}

.container {
  border: solid;
  border-color: blue;
  width: 100%;
  padding: 20px;
}

.sidebar {
  float: left;
  border: solid;
  width: 160px;
  height: 100%;
}

.header {
  float: top;
  border: solid;
  border-color: red;
  width: 100%;
  height: 100px;
}

#wiki-logo {
  width: 100%;
}

/*Welcome CSS -------------------------------*/
#welcome {
  font-size: 13px;
  border: solid pink;
  width: 100%;
}

#welcome-left {
  text-align: center;
  padding-right: 250px;
}

#welcome-right {
  margin-top: 20px;
  font-size: 16px;
}
/*end Welcome CSS----------------------------*/

.inline-list {
  float: right;
  width: 33%;
}

#featured {
  border: solid purple;
}

.featured {
  border: solid;
}
