body {
  background-color: #F6F6F6;
  color: black;
}

#super {
  /*border: solid green;*/
  margin-left: 160px;
  height: 100%;
}

.container {
  border: solid 1px #A7D7F9;
  width: 100%;
  padding: 20px;
  background-color: #fff;
}

.sidebar {
  float: left;
  border: solid;
  width: 160px;
  height: 100%;
}

.header {
  float: top;
  border: solid;
  border-color: red;
  width: 100%;
  height: 100px;
}

#wiki-logo {
  width: 100%;
}

/*Welcome CSS -------------------------------*/
#welcome {
  font-size: 13px;
  width: 100%;
  background-color: #F9F9F9;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
}

#welcome-left {
  text-align: center;
  padding-right: 250px;
}

#welcome-right {
  margin-top: 20px;
  font-size: 16px;
}

.inline-list {
  float: right;
  width: 33%;
}
/*end Welcome CSS----------------------------*/

/*Featured CSS----------------------------*/
#featured-left {
  background-color: #F5FFFA;
  height: inherit;
  border: solid 1px #CEF2E0;
}

#featured-left .panel-body {
  background-color: #F5FFFA;
}

#featured-right {
  background-color: #F5FAFF;
  height: inherit;
  border: solid 1px #CEDFF2;
}

#featured-right .panel-body {
  background-color: #F5FAFF;
}

.panel{
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
}

.panel-heading {
  border-radius: 0px;
  border: 1px solid #A3BFB1;
}
/*end Featured CSS----------------------------*/
/*Picture CSS --------------------------------*/

#picture {
  background-color: #FAF5FF;
}

#picture .panel-body {
  background-color: #FAF5FF;
}

#redhawk-cheese {
  width: 100%;
}

#picture-right {
  vertical-align: middle;
  
}
.panel-picture {
  border-color: #ebccd1;
}
.panel-picture > .panel-heading {
  color: #a94442;
  background-color: #DDCEF2;
  border-color: #ebccd1;
}
.panel-picture > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #DDCEF2;
}
.panel-picture > .panel-heading .badge {
  color: #DDCEF2;
  background-color: #a94442;
}
.panel-picture > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #DDCEF2;
}

/*end Picture CSS --------------------------------*/
